/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Poppins&family=Roboto&display=swap');

/* common styles */
body{
    font-family: 'Acme', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 50px;
}

.top-button{
    display: flex;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(192, 42, 119);
    color: ivory;
    font-size: 15px;
    padding: 10px 16px;
    font-weight: 30px;
}



.top-section{
    margin-top: 30px;
    display: flex;
    margin: 70px 90px;
}

header{
    margin: 70px 90px;
}

.icon{
    font-size: 18px;
    color: ivory;
    margin-left: 8px;
}

.top-1{
    width: 50%;
}

.top-2 img{
    margin-left: 60px;
    width: 80%;
}

.top-2:hover{
    transform: scale(1.1) rotate(360deg);
    transition: transform 2s ease-in-out;
}

/* responsiveness for top section */
@media (max-width: 700px){
    .top-section{
        flex-direction: column;
        text-align: center;
    }
    .top-2 img{
        margin-left: 10px;
    }
}

@media (min-width: 1200px) {
    .top-section{
        flex-direction: column;
        text-align: center;
    }
    .top-2 img{
        margin-left: 10px;
    }
}

.collection-section{
    margin-top: 60px;
    margin: 50px 90px;
}

#popular-text{
    text-align: center;
    margin-bottom: 60px;
}

/*------- item styles --------*/
.items .item-banner img{
    height: 160px;
    width: 190px;
    margin-bottom: 0%;
}

.fa-star.filled{
    color: #FFC014;
    font-size: 12px;
}

.fa-star.empty{
    color: #AEAEAE;
    font-size: 12px;
}

.item-ratings{
    display: flex;
    align-items: center;
}

.small-text{
    font-size: 13px;
    font-weight: 700;
    color: lightslategray;
}

.stars{
    margin-right: 16px;
}


.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    margin-left: 120px;
    padding-right: 160px;
}

.item{
    margin-bottom: 50px;
    border: 10px solid rgba(225, 234, 238, 0.185);
    background-color: rgba(215, 229, 235, 0.3);
    border-radius: 3px;
    padding: 8px 8px 8px 8px;
}

/* Media query for phone */
@media only screen and (max-width: 688px){
    .items{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
}

/* Media query for tablet */
@media only screen and (min-width: 688px) and (max-width:992px){
    .items{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}

.below-section{
    font-size: 12px;
    color: white;
    background-color: rgb(5, 5, 36);
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 150px;
}

#influencer{
    font-weight: 2000;
}

.extra-section{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
    margin-right: 90px;
}

#video-text{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 70px 90px;
}

.videos{
    display:flex;
}

.first-video{
    margin-right: 10px;
}

@media only screen and (max-width: 688px){
    .videos{
        display: inline;
    }
}

#see-more-text{
    text-align: right;
    color: rgb(192, 42, 119);
    font-weight: 900;
}

.see-more{
    color: rgb(192, 42, 119);
    font-weight: 900;
}

.social-icons{
    display: flex;
    padding-left: 540px;
}

/* Media query for tablet */
@media only screen and (min-width: 688px) and (max-width:992px){
    .below-section{
      text-align: center;
    }
    #special-icons{
        text-align: center;
    }
}









